// Base
body {
  background-color: $grey;
  background-image: url("../img/bg.png");
  font-family: Bitter, sans-serif;
}

a {
  color: $blue;
}

a:hover {
  text-decoration: none;
  color: lighten($blue, 10);
}

a.dim {
  color: mix($grey, $blue, 75);
}
a.dim:hover {
  color: $blue;
}

.tooltip {
  font-family: Arial, Helvetica, sans-serif;
}

#wrap {
  background-image: url("../img/bg2.png");
  background-repeat: repeat-x;
  width: 100%;
  min-height: 300px;
}

em {
  color: $orange;
  font-style: normal;
}

// Header
#pagehead {
  @include gradient(lighten($header_bg, 5), darken($header_bg, 5));
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  min-height: 50px;

  h1 {
    color: $bg;
    text-shadow: 1px 0 2px rgba(0, 0, 0, 0.34), 1px 1px 0 rgba(0, 0, 0, 0.39), -1px -1px 0px rgba(0, 0, 0, 0.12);
    margin-left: 0.5em;
    small {
      font-weight: normal;
      font-size: 0.625em;
      color: $bg;
      display: block;
    }
    img.logo {
      width: 100px;
      height: (67/200*100px);
    }
  }

  nav {
    text-align: right;
    text-shadow: rgba($darkgrey, 0.2) 1px 1px 2px;
    a {
      margin: 1.75em 0 0 1em;
      padding: 0.2em 0.4em 0.1em 0.4em;
      display: inline-block;
      color: $grey;
      strong {
        color: $orange;
      }
    }
    a.boxed {
      background-color: $wellbg;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.25) -1px -1px 0, $bg 1px 1px 0;
    }
    a.boxed:hover {
      background-color: $grey;
      color: $bg;
      box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0, $bg -1px -1px 0;
    }
    a.dim {
      color: lighten($grey, 20);
    }
    a.dim:hover {
      color: darken($grey, 20);
    }
  }
}

// Meta
#meta {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  a, .sep {
    color: $bg;
    margin: 1em 0 1em 1em;
    display: inline-block;
  }
  a.dim, .sep {
    color: darken($bg, 60);
  }
  a:hover {
    color: lighten($blue, 10);
  }
}

#meta.visible-phone {
  text-align: center;
}

// Footer
footer {
  margin: 2em 0;
  color: lighten($grey, 15);
  text-shadow: $darkgrey 1px 1px 0;

  a {
    color: mix($blue, $grey);
  }
  h2, p {
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 1.25em;
    text-shadow: $grey 1px 1px 0, $darkgrey -1px -1px 0;
  }
  hr {
    border: 0;
    border-bottom: 1px solid $grey;
    border-top: 1px solid $darkgrey;
  }
  a.back {
    i.icon-share-alt {
      font-size: 2em;
      color: #3A3A3A;
      text-shadow: #333 0px -2px 1px , #666 0px 1px 1px;
      margin-top: 2em;
      display: inline-block;
    }
    i.icon-share-alt:before {
      @include scaleX(-1);
    }
  }

}

// Popover
.popover {
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  font-size: 0.875em;
}