// Colors

$bg: #f5f5f5;
$wellbg: #fefefe;
$blue: #0095F2;
$orange: #f15e00;
$grey: #4c4c4c;
$darkgrey: #303030;

$orange: #F38630;
$text: $grey;
$text_selected: #333;
$dim: #c0c0c0;
$bg: #fefefe;
$drag_border: #C4C4C4;
$drag_color: #A0A0A0;

$drag_preview_border: #5bba3d;
$drag_preview_color: #b1fcaa;

$container_color: #E8F6FF;
$container_border: #535353;

// Aside
$aside_bg: #343434;
$aside_color: #9b9b9b;
$aside_hx_bg: lighten($aside_bg, 4);
$aside_highlight_bg: #4488f7;
$aside_highlight_color: #fff;

$textel_bg: #F0F0F0;
$textel_color: #999;

$danger_bg: #FFD7D5;
$danger_color: #e4333a;
$warning_bg: #FAEBBB;
$warning_color: #e8b33a;
$success_bg: #D7FFD7;
$success_color: #6ed06e;

$hr: #ccc;

$header_bg: #f3f3f3;

// Font sizes
$f18pt: (18 / 16) * 1em;
$f16pt: 1em;
$f14pt: (14 / 16) * 1em;
$f12pt: (12 / 16) * 1em;