<form action="" xmlns="http://www.w3.org/1999/html" class="form-inline">
    <input type="email" name="addcontributor" placeholder="user@domain.com"/>
    <button class="btn btn-primary"><i class="icon icon-plus icon-white"></i><i class="icon-user icon-white"></i>
        Mitarbeiter hinzufügen
    </button>
</form>
<table>
    <tbody>
    <% _.each(contributors, function(contributor) { %>
    <tr>
        <td><%= contributor.email %></td>
        <td>
            <button class="btn btn-danger" data-id="<%= contributor.id %>"><i class="icon-white icon-trash"></i></button>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>