.gui-container {
    border-radius: 2px;
    background-color: #E8F6FF;
    border: 1px dashed #535353;
    margin: 0.5em 0 0.5em 0;
    padding: 1em;
    color: #797979;
    text-align: center;
    position: relative;
}

.gui-container.selected {
    background-color: #fefefe;
    border-color: #F38630;
    color: #333;
}

.gui-container .order {
    font-weight: bold;
    font-size: 1.75em;
    color: #999;
}

.gui-container .name {

}

.gui-container .meta, .gui-container .info {
    position: absolute;
    right: 1%;
    top: 20%;
    line-height: 2em;
}

.gui-container .meta {
    display: none;
}

.gui-container:hover .meta {
    display: block;
}

.gui-container:hover .info {
    display: none;
}

.gui-container.dragging {
    border-style: dashed;
}

.gui-droptarget {
    display: none;
    height: 1em;
    border-radius: 2px;
    border: 1px dashed #535353;
}

.gui-droptarget.drag-over {
    display: block;
}