.gui-element {
    margin: 0.5em 0 0.5em 0;
    padding: 1em;
    color: #797979;
    position: relative;
}

.gui-element .meta, .gui-element .info {
    position: absolute;
    right: 1%;
    top: 20%;
    line-height: 2em;
}

.gui-element.selected {
    background-color: #fefefe;
    border-color: #F38630;
    color: #333;
}

.gui-element .meta {
    display: none;
}

.gui-element:hover .meta {
    display: block;
}

.gui-element:hover .info {
    display: none;
}

.gui-element.dragging {
    border-style: dashed;
    border-color: #C4C4C4;
    background-color: whiteSmoke;
    color: #A0A0A0;
}

.gui-drop-preview {
    height: 2em;
    border-radius: 2px;
    border: 2px dashed #5bba3d;
    margin-bottom: 1em;
    background-color: #b1fcaa;
}

/* Container */

.gui-container {
    border-radius: 2px;
    background-color: #E8F6FF;
    border: 1px dotted #535353;
}

/* Text */

.gui-text {
    border-radius: 10px;
    background-color: #F0F0F0;
    border: 3px solid #999;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.gui-text .flag {
    position: absolute;
    top: -18px;
    left: 1%;
    border: 1px solid #999;
    background-color: #F0F0F0;
    border-radius: 4px;
    padding: 0.25em 0.5em;
}

.gui-text q:before {
    content: "„";
}

.gui-text q:after {
    content: "“";
}

/* WRITE text */

.gui-write-text form {
    margin: 0;
}

.gui-write-text input {
    width: 100%;
}

.gui-write-text .gui-saving-progress, .gui-write-text .gui-saving-error {
    display: none;
}

/* Check Text */

.gui-check-header {
    margin-left: 1em;
}

.gui-check-text .btn-group {
    float: right;
}

.gui-check-text.progress-danger {
    background-color: #FFD7D5;
}

.gui-check-text.progress-warning {
    background-color: #FAEBBB;
}

.gui-check-text.progress-success {
    background-color: #D7FFD7;
}

.gui-check-text q.text {
    display: inline-block;
    height: 1.5em;
    overflow: hidden;
}

/* Misc */

#toggleleft {
    position: absolute;
    top: 25%;
    left: 0;
}

#toggleright {
    position: absolute;
    top: 25%;
    right: 0;
}

/* History */

ul.texthistory {
    margin: 0;
}

ul.texthistory li {
    list-style: none;
    border-bottom: 1px solid #cccccc;
}

ul.texthistory li:last-child {
    border: none;
}

ul.texthistory span.time {
    float: right;
    font-style: italic;
}

.textcomments .gravatar {
    margin-right: 1em;
}

/* Darstellung des Projekt-Fortschritts */

.projectprogress.compact dt, .projectprogress.compact dd {
    display: none;
}

.projectprogress.compact dd.total {
    display: block;
}

/* Text Info */
blockquote.multiline p {
    margin-bottom: 1em;
}

blockquote.multiline p:after {
    content: " ¶";
    color: #c0c0c0;
}

/* Tree */
.projecttree ul {
    list-style: none;
    margin: 0 0 0 1.5em;
}

.projecttree ul.hide-texts li.gui-text-node {
    display: none;
}

.projecttree label.checkbox { float: right; }

/* Semantic helpers */
.center {
    text-align: center;
}

.hidden {
    display: none;
}
