/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media screen {
    nav.article { padding: 0.25em 1em; }
}

@media screen and (min-width: 480px) {
    nav.article { width: 35%; float: right; margin-left: 2%; }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
    nav.files { position: absolute; left: 105%; top: 0; width: 40%; }
    nav.files ul { padding-left: 2em; }
}
