html { background: #1E353F url(../img/bg-pattern.png); }
body { color: #c0c4c6; font-family: 'Bitter', serif; }
a { color: #0095F2; text-decoration: none; }
a:visited { color: #518BA7; }
.highlight { background-color: #f15e00; color: #1E353F; padding: 0.5em; }

#main { max-width: 45em; margin: 0 auto; position: relative; }
header, footer { text-align: center; width: 50%; min-width: 350px; margin: 0 auto; }
article { margin: auto auto; }
article li { line-height: 150%; }

h1 { margin-top: 5%; margin-bottom: 5%; }
p { margin-top: 0; margin-bottom: 0.5em; line-height: 150%; }
header, footer { text-align: center; }
a.pdf { padding-left: 20px; background: url(../img/icons/application-pdf.png) no-repeat 0 50%; }
nav li { list-style: disc; }

footer { margin-top: 5em; }
footer ul { list-style: none; }
footer li { display: inline-block; margin: 0 0.5em; }
.rel { position: relative; }
