parameters:
        locale: en
        secret: secret
        mongodb_server:    mongodb://127.0.0.1:27017
        mongodb_default_db: retext
        database_driver:   pdo_mysql
        database_host:     localhost
        database_port:
        database_name:
        database_user:
        database_password:
        mailer_transport: smtp
        mailer_host: localhost
        mailer_user:
        mailer_password: