<IfModule rewrite_module>
    RewriteEngine On

    <IfModule alias_module>
        RewriteBase /
    </IfModule>

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !/app/
    RewriteRule ^(.*)$ app_dev.php [QSA,L]
</IfModule>
