article.compact {
  width: 400px;
  header {
    h2 {
      padding-left: 1em;
    }
  }
  form {
    padding: 1em 1em 0 1em;
  }
  input[type=email], input[type=password], input[type=text] {
    width: 96%;
  }
}