<div class="row-fluid">
    <div class="span12">
        <h1>Deine Projekte</h1>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <p>Hier findest Du deine Projekte.</p>
        <ul id="projectlist">
            <% _.each(projects, function(project) { %>
            <li><a href="#project/list/<%= project.id %>" class="project" data-projectid="<%= project.id %>"><%= project.name %></a></li>
            <% }); %>
        </ul>
        <p><a href="#project/new" class="btn"><i class="icon-plus"></i> Neues Projekt anlegen …</a></p>
    </div>
    <div class="span8" id="projectinfo">
    </div>
</div>