// Orientation bar
#orientation {
  float: left;
  width: 25%;

  ul.elements {
    font-size: $f14pt;
    line-height: 1em;
    list-style: none;
    margin: 0;
    .container {
      font-style: italic;
      .count {
        color: rgba($aside_color, 0.25);
        float: right;
        font-style: normal;
      }

    }
    .status {
      color: rgba($aside_color, 0.25);
    }
    li {
      padding: 0;
    }
    a:hover {
      .status-ok {
        @extend .status-ok-color;
      }
      .status-inprogress {
        @extend .status-inprogress-color;
      }
      .status-missing {
        @extend .status-missing-color;
      }
      .count {
        color: $aside_highlight_color;
      }
    }
    ul {
      padding: 0 0 0 0.5em;
      border-left: 1px solid rgba($aside_color, 0.5);
      margin-left: 0.6em;
      list-style: none;
    }
    padding: 1em 0.5em 1em 0.5em;
  }

  dl.projectprogress {
    margin: 0 0.5em;
    font-size: $f14pt;
    dd {
      margin: 0;
      .progress {
        margin: 0;
        height: 15px;
      }
      margin-bottom: 0.5em;
    }
  }
}