<!doctype html>
<html lang="de-de">
<head>
    {% include 'head.twig' %}
</head>
<body>
<header>
    <h1><a href="/"><img src="/img/retext-logo.png" width="320" height="111" alt="re:text &mdash; text workflow done right"/></a></h1>
</header>
{% include 'loginout.twig' %}
<div id="main" role="main">
    {% block body %}{% endblock %}
</div>
<footer>
    <ul>
        <li>re:text is made by <a href="http://coderbyheart.de/" rel="author">Markus Tacker</a></li>
    </ul>
</footer>
<!--[if lt IE 7 ]>
<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
<script>window.attachEvent("onload", function () {
    CFInstall.check({mode:"overlay"})
})</script>
<![endif]-->
</body>
</html>
