<div class="center"><span class="name" data-attribute="name" data-empty="<em>Kein Name</em>"><% if(element.name == null || element.name.length == 0) { %><em>Kein
    Name</em><% } else { %><%= element.name %><% } %></span>
</div>
<span class="flag">
    <span class="type" data-attribute="type"><%= element.type %></span>
</span>
<div class="info">
</div>
<div class="meta">
    <button class="btn btn-small btn-danger actn-delete"><i class="icon-trash icon-white"></i></button>
    |
    <button class="btn btn-small actn-drag"><i class="icon-move"></i></button>
</div>
