<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}re:text &ndash; text workflow done right</title>
    <meta name="author" content="Markus Tacker | http://coderbyheart.de/">
    <!-- See /humans.txt for more infos -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/docs/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/docs/assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bitter">
    <link rel="stylesheet" type="text/css" href="/vendor/awesomefont/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/build/styles.css">

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/vendor/awesomefont/css/font-awesome-ie7.css">
    <![endif]-->
</head>
<body>

<div id="wrap">
    <header>
        <div class="container">
            <div class="row">
                <div class="span6">
                    <h1>
                        <a href="/" rel="index"><img src="/assets/img/logo-200px.png" alt="re:text" class="logo"></a>
                    </h1>

                    <h2>text workflow done right</h2>
                </div>
                <nav class="span6">
                    <a href="#signupform" class="boxed"><strong><i class="icon-user"></i> Request Invite</strong></a>
                    <a href="/features" class="boxed"><i class="icon-check"></i> Features</a>
                    <a href="/pricing" class="boxed"><i class="icon-shopping-cart"></i> Pricing</a>
                    <!-- a href="/de" title="Diese Seite auf Deutsch anzeigen" rel="tooltip" data-placement="bottom"><img
                            src="/vendor/flags/png/de.png" alt="Deutsch"></a -->
                </nav>
            </div>
        </div>
    </header>

    <nav id="meta" class="container">
        <a href="/contact" class="dim">Contact</a>
        <a href="/privacy" class="dim">Privacy</a>
        <span class="sep">|</span>
        <a href="#">
            <del><i class="icon-lock"></i> Login</del>
        </a>
    </nav>

    <div class="container" id="content">
        <aside id="teaser">
            <img class="typist" src="/assets/img/typist.jpg" alt="">

            <div class="text">

                <p class="question">
                    Ever felt like this<br>when working on <em>text</em><br>for your projects?
                </p>

                <p class="answer">Relax and say hello to <img src="/assets/img/logo-white.png" alt="re:text"
                                                              width="152">
                </p>

                <form method="POST" class="action form-inline"
                      action="https://docs.google.com/spreadsheet/formResponse?formkey=dElYMS1xLXQ3U0VRUHlaZWpJalhILWc6MQ&amp;ifq"
                      id="signupform">
                    <input type="email" name="entry.0.single" class="input-medium" placeholder="someone@example.com"
                           required
                           data-title="Sign up!"
                           data-content="To get early access to the closed beta, you can request an invite by submitting your e-mail address. I promise not to sell your personal data."
                           data-placement="bottom"
                           data-trigger="focus"
                            >
                    <button type="submit" name="submit" class="btn btn-primary"><i class="icon-user"></i> Sign up
                    </button>
                    now to get early access!
                    <input type="hidden" name="pageNumber" value="0">
                    <input type="hidden" name="backupCache" value="">
                </form>
            </div>
        </aside>
        {% block content %}{% endblock %}
        {% block connect %}
        <aside class="band" id="connect">
            <div class="row-fluid">
                <div class="span3">
                    <h2>Get in touch!</h2>
                </div>
                <div class="span3 icon">
                    <i class="icon-twitter"></i>
                </div>
                <div class="span3 icon">
                    <i class="icon-facebook"></i>
                </div>
                <div class="span3 icon">
                    <i class="icon-google-plus"></i>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    <p>To receive updates you can follow <a href="http://twitter.com/retext"
                                                            rel="author">@retext</a>, add <a
                            href="https://plus.google.com/115166034715523659283" rel="author publisher">+re:text</a> to your
                        circles or become a fan on <a href="https://www.facebook.com/retext">facebook</a>.</p>
                </div>
                <div class="span3">
                    <a href="https://twitter.com/retext" class="twitter-follow-button" data-show-count="false"
                       data-size="large">Follow @retext</a>
                    <br>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="retext"
                       data-url="http://retext.it/"
                       data-text="Fed up with managing texts for your projects with Word and Excel? Try re:text – text workflow done right."
                       data-size="large">Tweet</a>
                </div>
                <div class="span3">
                    <div class="fb-like" data-href="https://www.facebook.com/retext" data-send="false"
                         data-width="250" data-show-faces="true" data-action="recommend"
                         data-colorscheme="light"
                         data-font="arial"></div>
                </div>

                <div class="span3">
                    <div class="g-plusone" data-annotation="inline" data-width="300"
                         data-href="http://plus.google.com/115166034715523659283"></div>
                </div>
            </div>
        </aside>
        {% endblock %}
    </div>

    <footer class="container">
        <p class="center">&copy; 2011&ndash;2012 <a href="http://tckr.cc/en" rel="author">Markus Tacker</a></p>
    </footer>
</div>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(
            ['_setAccount', 'UA-227203-18'],
            ['_setDomainName', 'retext.it'],
            ['_trackPageview'],
            ['_gat._anonymizeIp'] // Use anonymized tracking so we don't need a privacy disclaimer.
    );

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    // Google Plus
    window.___gcfg = {lang:'en-GB'};

</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" defer></script>
<script src="/vendor/bootstrap/docs/assets/js/bootstrap.min.js" defer></script>
<script src="/assets/js/main.js" defer></script>
<script src="//platform.twitter.com/widgets.js" charset="utf-8" async></script>
<script src="//connect.facebook.net/de_DE/all.js#xfbml=1&amp;appId=148550098616509" async></script>
<div id="fb-root"></div>
<script src="//apis.google.com/js/plusone.js" async></script>
</body>
</html>
