{% extends "base.html.twig" %}
{% block title %}Features | {% endblock %}
{% block content %}
<article>
    <div class="row-fluid">
        <div class="span8 offset2">
            <h2>Features</h2>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 offset2">
            <p>When it comes to the <em>creation of texts</em> for information and communication media products the one
                solution used to manage the compilation, creation, approval, translation, and transferal into the final
                product of these texts is <em>Word and Excel</em>&ndash;software which is <em>not suited well</em> for
                the asynchronous workflow in creative agencies and software development companies where a lot of people
                have a say in what meaning texts convey or what restrictions apply to them.</p>
        </div>
        <div class="span4">
            <p><a href="http://retext.it/"><em>re:text</em></a> is a web based
                management platform <em>specifically tailored</em> for texts and the needs of every project participant
                regarding to text. This enables the parallel work on texts, direct feedback, trackable and error free
                changes, clear approval, and much more which isn't possible with Word or Excel. The application provides
                a RESTful API to export theses texts into the tools used to create the media products be it the Adobe
                Creative Suite or an ant build script. </p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 offset2 desktop-right">
            <h3 class="multiline">Tailored to the specific tasks</h3>
        </div>

        <div class="span4">
            <hr>
            <p>In re:text project workflow is separated in these five basic operations: <em>definition</em>,
                <em>writing</em>, <em>translation</em>, <em>approval</em> and <em>export</em>.</p>

            <p>Every operation can be carried out in an interface that is specifically tailored to the requirements of
                the respective operation and the user.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 offset2 desktop-right">
            <h3 class="multiline">Adapted to<br class="visible-desktop"> <em>your workflow</em></h3>
        </div>

        <div class="span4">
            <hr>
            <p>The workflow required to collect all texts for your products can be configured on a per-project basis.
                re:text does not make assumptions on how you operate but enables you <em>work the way you want to</em>.
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 offset2 desktop-right">
            <h3 class="multiline">User management</h3>
        </div>

        <div class="span4">
            <hr>
            <p>You decide who does what and when. You want the customer to approve all texts before they get translated?
                Can do! You want the art department automatically be notified if the customer changes a text in the last
                minute? Also done!</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 offset2 desktop-right">
            <h3 class="multiline">Work at<br class="visible-desktop"> the same time</h3>
        </div>

        <div class="span4">
            <hr>
            <p>With Word and Excel you work one after another by sending files or storing them in a shared folder.
                re:text enables you to work on the texts for your projects in parallel with other members of your team.
                Say goodbye to multiple file versions and those nasty <code>Texts_for_Website_2012-08-17_final_FINAL.docx</code>.
            </p>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span4 offset2 desktop-right">
            <h3 class="multiline">Who did <em>that</em>?!</h3>
        </div>

        <div class="span4">
            <hr>
            <p>In re:text every action is recorded. You can always see who changed what and when. Also everything can be
                undone.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 offset2 desktop-right">
            <h3 class="multiline">Access from <em>everywhere</em><br class="visible-desktop"> and everything</h3>
        </div>

        <div class="span4">
            <hr>
            <p>You are not in front of your desktop PC as often as you may think. Therefore it is possible to access
                most of re:text's operations on your mobile device.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 offset2 desktop-right">
            <h3 class="multiline">Integrate in<br class="visible-desktop"> <em>your tools</em></h3>
        </div>

        <div class="span4">
            <hr>
            <p>re:text's goal is to save time. And many time is spent by copy&amp;pasting text from Word and Excel files
                into the tools you use to create the final product. By providing integration in the most popular
                creativity tools and development environments i takes merely the click of a button to transfer texts
                into the final product.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4 offset2 desktop-right">
            <h3 class="multiline">RESTful API<br class="visible-desktop"> and full export</h3>
        </div>

        <div class="span4">
            <hr>
            <p>There is also a RESTful API which enables third party developers to build tools and integrations which
                may be missing.</p>

            <p>Everything you put in re:text can be exported again, promised!</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8 offset2">
            <hr>
            <p><em>Like</em> what you are looking at?<br>You'll get all of that for a <a href="/pricing">nice price</a>
                with a 30-day free trial, of course!</p>
        </div>
    </div>
</article>
{% endblock %}