{% extends "base.html.twig" %}
{% block title %}Pricing | {% endblock %}
{% block content %}
<article>
    <div class="row-fluid">
        <div class="span6 offset3">
            <h2>So, you wanna <em>talk about money</em>?!</em></h2>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <h3>All plans include</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 offset3">
            <ul>
                <li><em>30-day free trial</em></li>
                <li>No long-term contract</li>
                <li>No other limitations then number of active projects</li>
                <li>Unlimited projects in the archive. Pay only for projects you are actively working on.</li>
                <li>24/7 support via our forum or email</li>
                <li>Daily backups of your data</li>
                <li>Full access to your project data via the API</li>
            </ul>
        </div>
    </div>

    <hr class="sep">

    <div class="row-fluid">
        <div class="span3 offset3 right">
            <h3 class="multiline">Free plan</h3>

            <p><em>0 € per project and month</em></p>
        </div>

        <div class="span3">
            <hr>
            <p>If you are an <em>open source project</em> or <em>nonprofit organization</em> you can apply to use
                re:text for free.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span3 offset3 right">
            <h3 class="multiline">Simple plan</h3>

            <p><em>15 € per project and month</em></p>
        </div>

        <div class="span3">
            <hr>
            <p>Simple as that: for every active project you will be charged 15 € per month.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span3 offset3 right">
            <h3 class="multiline">Bakers dozen</h3>

            <p class="multiline"><em>For every 13 active projects<br>you get one refunded</em></p>
        </div>

        <div class="span3">
            <hr>
            <p>This is actually not a plan. But for every 13 active projects you hat to pay for over the course of a
                full month you'll get one refunded.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span3 offset3 right">
            <h3 class="multiline">Solid plan</h3>

            <p><em>146 € for 13 projects</em></p>
        </div>

        <div class="span3">
            <hr>
            <p>146 € buys you 13 active projects. Every extra project is € 15. Bakers dozend rule applies. This plan
                offers the best value with <em>10 to 19</em> active projects per month.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span3 offset3 right">
            <h3 class="multiline">Master plan</h3>

            <p><em>246 € for 26 projects</em></p>
        </div>

        <div class="span3">
            <hr>
            <p>246 € buys you 26 active projects. Every extra project is € 15. Bakers dozend rule applies. This plan
                offers the best value with <em>20 to 34</em> active projects per month.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span3 offset3 right">
            <h3 class="multiline">Domination plan</h3>

            <p><em>456 € for unlimited projects</em></p>
        </div>

        <div class="span3">
            <hr>
            <p>456 € buys you unlimited active projects. This plan offers the best value with <em>42 and more</em>
                active projects per month.<br><em>Includes special support package.</em></p>
        </div>
    </div>
</article>
<aside class="band">
    <div class="row-fluid">
        <div class="span6 offset3">
            <h3>Sounds good?</h3>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <p>re:text is still in its early development stages so these numbers are subject to change. But they'll give
                you the opportunity to <a href="/contact">get back at me</a> and give me some feedback&ndash;if you are
                fine with them or how much I am off the chart… Looking forward to your opinion either way.</p>
            <p>You may also <a href="#signupform">sign up</a> to get early access to re:text.</p>
        </div>
    </div>
</aside>
{% endblock %}
{% block connect %}{% endblock %}