<form method="POST" class="action form-inline visible-phone"
      action="https://docs.google.com/spreadsheet/formResponse?formkey=dElYMS1xLXQ3U0VRUHlaZWpJalhILWc6MQ&amp;ifq"
        >
    <label for="signup-email">Sign up now to get <em>early access</em> to re:text!</label>
    <input type="email" name="entry.0.single" class="input-medium" id="signup-email" placeholder="someone@example.com"
           required
            >
    <button type="submit" name="submit" class="btn btn-primary"><i class="icon-user"></i> Sign up
    </button>
    <input type="hidden" name="pageNumber" value="0">
    <input type="hidden" name="backupCache" value="">
</form>