<span class="name"><% if(container.name == null || container.name.length == 0) { %><em>Kein Name</em><% } else { %><%= container.name %><% } %></span>
<div class="info">
    <% if(container.childcount > 0) { %>
    <span class="btn btn-small childcount"><i class="icon-folder-close"></i> <%= container.childcount %></span>
    <% } %>
</div>
<div class="meta">
    <button class="btn btn-small btn-danger actn-delete"><i class="icon-trash icon-white"></i></button>
    |
    <button class="btn btn-small actn-drag"><i class="icon-move"></i></button>
    <a href="#project/<%= container.project %>/<%= container.id %>" class="btn btn-small actn-open"><i
            class="icon-folder-open"></i> <% if(container.childcount > 0) { %><%= container.childcount %><% } %></a>
</div>