<div class="row-fluid">
    <div class="span12">
        <button class="btn btn-primary act-new-text"><i class="icon-plus icon-white"></i><i
                class="icon-pencil icon-white"></i> Texbaustein erstellen
        </button>
        <button class="btn act-new-container"><i class="icon-plus"></i><i
                class="icon-list-alt"></i> Container erstellen
        </button>
    </div>
</div>

<div class="row-fluid">
    <div class="span12 view-containers"></div>
</div>

<div class="row-fluid">
    <div class="span12">
        <button class="btn btn-primary act-new-text"><i class="icon-plus icon-white"></i><i
                class="icon-pencil icon-white"></i> Texbaustein erstellen
        </button>
        <button class="btn act-new-container"><i class="icon-plus"></i><i
                class="icon-list-alt"></i> Container erstellen
        </button>
    </div>
</div>