<div class="row-fluid">
    <div class="span12">
        <button class="btn btn-primary act-new-container"><i class="icon-plus icon-white"></i><i
                class="icon-list-alt icon-white"></i> Container erstellen
        </button>
    </div>
</div>

<div class="row-fluid">

    <div class="span12" id="gui-container-list">

        <% _.each(containers, function(container) { %>
        <div class="gui-container" data-order="<%= container.order %>" data-id="<%= container.id %>">
            <span class="name"><% if(container.name == null) { %><em>Kein Name</em><% } else { %><%= container.name %><% } %></span>
            <% if(container.childcount > 0) { %>
            <span class="childcount">
                <i class="icon-book"></i> <%= container.childcount %>
            </span>
            <% } %>
        </div>
        <% }); %>

    </div>

</div>

<div class="row-fluid">
    <div class="span12">
        <button class="btn btn-primary act-new-container"><i class="icon-plus icon-white"></i><i
                class="icon-list-alt icon-white"></i> Container erstellen
        </button>
    </div>
</div>